#logoPontual {
  height: 42px;
  width: 160px;
  margin-left: 20px;
}

#topnav {
  background-color: #161b22;
}

#sidenavAccordion {
  background-color: #212529;
}

.sidebar-title {
  color: #bebebe;
}

img.nav-perfil{
  height:2.5em;
  width:2.5em;
  object-fit: cover;
}

.table th {
  background-color: #212529;
  color: #fff;
}
