.week-days {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 12px;
}

.break-time-content {
  display: none;
}

#carouselExampleFade {
  width: 900px;
  height: 510px;
}

#carouselExampleFade img {
  width: 900px;
  height: 510px;
}